<h3>Global Reff Comp</h3>

<ul>
<li>
{{block.global_reference.text}}
</li>
<li>
{{block.global_reference.global_information.text}}
</li>
<li>
{{block.global_information.text}}
</li>
<li>
{{block.text}}
</li>
<li>{{block.global_reference.reference.text}}
</li>
<li>{{block.global_reference.reference.global_information.text}}
</li>
<li>{{block.global_information.global_reference.reference.text}}
</li>
</ul>
